

{% extends 'base.html' %}

{% load static%}

{% block title %}Nirmal Pandey {% endblock %}


{% block content %}

<div class="container">

<br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100  border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/nirmalpandey.jpg' %}" >
                <hr>
                <h4>Hi, I am Nirmal</h4>
                <p>I love coding, doing research and </p>
            </div>
        </div
    </div>

    <div class="col-md-5">
        <div class="card card-body h-100  border-info">
         
            
       
         

            <ul class="list-group">
                <li class="list-group-item active"><h4><strong>STRENGTHS</strong></h4></li>
                <li class="list-group-item"><span style="color:#DAA520;"><i class="fas fa-lg fa-comment"></i></span> <strong>Oral and Written Communication</strong></li>
                <li class="list-group-item"><span style="color:#DAA520;"><i class="fas fa-lg fa-hand-rock"></span></i> <strong>Fast Learner</strong></li>
                <li class="list-group-item"><span style="color:#DAA520;"><i class="fas fa-lg fa-book-open"></span></i> <strong>Committed to Lifelong Learning</strong></li>
                <li class="list-group-item"><span style="color:#DAA520;"><i class="fas fa-lg fa-users"></span></i>  <strong>Team Buildings</strong></li>
                <li class="list-group-item"><span style="color:#DAA520;"><i class="fas fa-lg fa-check"></span></i>  <strong>Reliable and Consistent</strong></li>
              </ul>
           
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body h-100">
            <div class="card-header bg-primary text-light"><h4><strong>EDUCATION</strong></h4></div>
<hr>
            <p >I am currently studying Bachelor's in Information and Communcation Technology<strong> (BICT)</strong> in <strong>VIRINCHI COLLEGE . </strong></p>
          
            <!-- <span class="text-center"><strong>BICT</strong></span> -->
            <hr>

            <span class="text-left"><strong>Join : 2018</strong> (Ongoing fourth Semster) </span>
            <hr>
         

            <span class="text-center"><strong>AFFILIATED TO</strong></span>
            <h5 class="text-center" >
                <span style="color:blue;"><strong>ASIA</strong></span>
                <span style="color:red;"><strong>E</strong></span>
                <span style="color:blue;"><strong>UNIVERSITY</strong></span>
            </h5>


     


            
        </div>
    </div>
</div>

 
  

       
    </div>

    <hr>

    <div class="row">

        <div class="col-md-8">
            <div class="card card-body h-100  border-info">
                <!-- <h4>Programming Languages And Skills</h4>
                <hr> -->
    
                <div class="row">
                    <div class="col-md-6">
    
                        <div class="card card-body h-100">
    
                            <div class="card-header bg-primary text-light"><h4><strong>PROGRAMMING</strong></h4></div>
                            <hr id="horizontal">
                            <ul>
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>HTML & CSS</li>
                                <li>C</li>
                                <li>Java</li>
                            </ul>
    
                        </div>
    
                    </div>
    
                    <div class="col-md-6">
    
                        <div class="card card-body h-100">
    
                            <div class="card-header bg-primary text-light"><h4><strong>SKILLS</strong></h4></div>
                            <hr id="horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
    
    
                                            <ul>
                                                <li>Django</li>
                                                <li>Django Rest</li>
                                                <li>Mysql</li>
                                                <li>React</li>
                                                <li>Git</li>
                                              
                                            </ul>
    
                                        </div>
                                        <div class="col-md-6">
    
                                          <ul>
                                            <li>AWS</li>
                                          </ul>
                                        </div>
                                    </div>
    
                        </div>
    
                    </div>
                </div>
    
    
            </div>
    

    </div>
</div>

<style>
    #horizontal{

        background-color:black;
        padding-bottom: 1px;
      

    }
    #aeu-university{
        height:170px;
    }
</style>
    
{% endblock %}


