<div class="modal fade" id="findMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel" ><strong>FIND ME</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <p>   <strong> Email : </strong>nirmalpandey27450112@gmail.com</p>
          <p>  <strong>Phone : </strong>977-9865542614 <strong>Or</strong> 977-9812901717</p>
  
        </div>
        <div class="modal-footer" >
  
          <ul style="margin-right:200px;">
            
              <a href="https://twitter.com/NirmalP42906339">  <i class="fab fa-2x fa-twitter-square"></i></a>
              <a href="https://www.linkedin.com/in/nirmal-pandey-09178a165/"><i class="fab fa-2x fa-linkedin"></i></a>
              <a href="https://github.com/nirmal2i43a5">  <i class="fab fa-2x fa-github-square"></i></a>
  
          </ul>
        </div>
      </div>
    </div>
  </div>
  